<template name="index">
	<div class="row custom_center"> 
		<div class="col-xs-12">
			<p id="mad_lib">Create Your Madlib</p>
		</div>
	</div>
	<div class="col-xs-12">
			<div class="form-horizontal">
				<div class="form-group">
					<input type="text" class="form-control" id="exclamation" placeholder="enter exclamation">
				</div>
				<div class="form-group">
				
					<input type="text" class="form-control" id="adverb" placeholder="enter adverb">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="verb" placeholder="enter verb">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="noun" placeholder="enter noun">
				</div>
				<div class="form-group">
					<button id="submit-btn" type="text" class="btn btn-default">Submit</button>
				</div>
			</div>
	</div>
</template>